* {
	position: relative;
	box-sizing: border-box;
}

#main-heading {
	text-align: center;
}

.container {
	width: 100%;
}

.box {
	background: gray;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border: 1px solid black;
}

.box-head {
	text-align: center;
	float: right;
	margin: 0px 0px 5px 0px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

#head-1 {
	background-color: yellow;
	width: 33%;
}

#head-2 {
	background-color: green;
	width: 33%;
}

#head-3 {
	background-color: blue;
	width: 33%;
}

.box-body {
	clear: right;
	margin: 5px;
}

/* DESKTOP VIEW ONLY */
@media (min-width: 992px) {
	.col-desk-4 {
		width: 33%;
		float: left;
		padding: 5px;
	}
}

/* TABLET VIEW ONLY */
@media (min-width: 768px) and (max-width: 991px) {
	.col-tab-6 {
		width: 50%;
		float: left;
	}
	.col-tab-12 {
		width: 100%;
		float: left;
		margin-top: 10px;
	}

	.col-tab-12 > .box {
		width: 95%;
	}
}

/* MOBILE VIEW ONLY */
@media (max-width: 767px) {
	.col-mob-12 {
		width: 100%;
		float: left;
		margin-top: 5px;
	}
}
